<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppLexicon</title>
    <!-- This is Eric Meyers CSS reset -->
    <!--<link rel="stylesheet" href="css-reset.css">-->

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- This is my own style sheet -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&display=swap" rel="stylesheet">
    <script href="https://kit.fontawesome.com/803cada9a6.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header>
            <div class="Logo">
                <img src="~/images/logo.jpg" width="75" alt="Logo for Work Freelance">
            </div>
            <div>
                <div>
                    <h3>
                        <nav>
                            <a href="#" class="navbutton1"><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></a>
                            <a href="#" class="navbutton1"><i class="fa-solid fa-cash-register"></i></a>
                            <a href="#" class="navbutton1"><i class="fa-solid fa-user-pen"></i></a>
                        </nav>
                    </h3>
                </div>
                <nav>
                    <a href="#" class="navbutton">Register</a>
                    <a href="#" class="navbutton">About</a>
                    <a href="#" class="navbutton">Conact</a>
                </nav>
            </div>
        </header>


        <main>
            @RenderBody()
        </main>
        <div class="cards">
            <div class="card1">
                <a href="#">
                    <i class="fa-solid fa-magnifying-glass-location"></i>
                    <h3>Browse Services</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo cumque odit. Nostrum, et ducimus?</p>
                </a>
            </div>
            <div class="card2">
                <a href="http://www.byol.me">
                    <i class="fas fa-cog"></i>
                    <h3>Provide Services</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo cumque odit. Nostrum, et ducimus?</p>
                </a>
            </div>
            <div class="card3">
                <a href="#">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <h2>Stories from users</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nemo cumque odit. Nostrum, et ducimus?</p>
                </a>
            </div>
        </div>

    </div>
    <footer class="border-top footer text-muted">
        <hr>
        <div class="container">
            &copy; 2022 - Service Offering Platform(Louis Lim) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
