<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&display=swap" rel="stylesheet">

    <!-- This is my own style sheet -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/myStyle.css" />
    <link href="~/css/all.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="Logo">
                <img src="~/images/logo.jpg" width="75" alt="Logo for Work Freelance">
            </div>
            <div>
                <div>
                    <nav>
                        <h3>
                            <a href="#" class="navbutton1">
                                <i class="fa-solid fa-person-through-window"></i>
                            </a>
                            <a href="#" class="navbutton1"><i class="fa-solid fa-cash-register"></i></a>
                            <a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa-solid fa-user-pen"></i></a>
                        </h3>
                    </nav>
                    <p> </p>
                </div>
                <div>
                    <nav>
                        <a class="navbutton" asp-controller="Home" asp-action="Create">Register</a>
                        <a href="#" class="navbutton">About</a>
                        <a href="#" class="navbutton">Conact</a>
                    </nav>
                </div>
            </div>
        </header>

        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <hr>
        <div class="container">
            &copy; 2022 - Service Offering Platform(Louis Lim) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
