<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:300&display=swap" rel="stylesheet">

    <!-- This is my own style sheet -->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/myStyle.css" />
    <link href="~/css/all.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="Logo">
                <img src="~/images/logo.jpg" width="75" alt="Logo for Work Freelance">
            </div>
            <div>
                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <nav>
                            <h3>
                                <a asp-area="" asp-controller="Account" asp-action="Logout">
                                    <i class="fa-solid fa-person-through-window"></i>
                                </a>
                                <a href="#" class="navbutton1"><i class="fa-solid fa-cash-register"></i></a>
                            </h3>
                        </nav>
                        <div>
                            <nav>
                                <a href="#" class="navbutton">About</a>
                                <a href="#" class="navbutton">Conact</a>
                            </nav>
                        </div>
                    }
                    else
                    {
                        <div>
                            <h3>
                                <a asp-area="" asp-controller="Account" asp-action="Login">
                                    <i class="fa-solid fa-user-pen"></i>
                                </a>
                                
                                <a asp-area="" asp-controller="Home" asp-action="Index"> 
                                    <i class="fa-solid fa-house-chimney"></i>
                                </a>
                            </h3>
                            <nav>
                                <a class="navbutton" asp-controller="Member" asp-action="Create">Register</a>
                                <a href="#" class="navbutton">About</a>
                                <a href="#" class="navbutton">Conact</a>
                            </nav>
                        </div>
                    }
                </div>
            </div>
        </header>

        <div>
            @RenderBody()
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <hr>
        <div class="container">
            <div class="d-inline-flex">
                <div class="item">
                    <img src="~/images/basket.png" height="75 " width="75" />
                </div>
                <div class="circle" style="animation-delay: 2s"></div>
                <div class="circle" style="animation-delay: 3s"></div>
                <div class="circle" style="animation-delay: 4s"></div>
                <div class="circle" style="animation-delay: 5s"></div>
            </div>
            <div class="d-inline-flex">
                <div>
                    &copy; 2022 - Service Offering Platform(Louis Lim) - <a asp-area="" asp-controller="Person" asp-action="Index">A FullStack Developer Project /</a>
                </div>
                <div>
                    <a href="https://iconscout.com/icons/basket" target="_blank">Basket Icon</a> by <a href="https://iconscout.com/contributors/ecommdesign">EcommDesign</a> on <a href="https://iconscout.com">IconScout</a>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/all.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
