@model WebAppLexicon.Models.Members.Members
@{
    ViewData["Title"] = "Home Page";
}

<div class="herobox1">
    <h1>Welcome</h1>
    <div>
        <p>
            Our minds are not meant to be working or productive all the time. Even if we never give ourselves time to rest, our minds will eventually start sabotaging the process – we start working slower and making more mistakes. Eventually, we might experience more negative consequences, physically and emotionally, like burnout.
            Free time is important to help shield our minds from the negative effects of overworking and to make us truly productive. It increases our productivity on the long term and also helps us maintain a more sustainable pace of working. So why not leave your house cleaning, unimportant errant to someone can help you.
        </p>
    </div>
    <a href="test-page.html" class="mybutton">Book Online</a>
</div>
<div class="herobox2">
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <h4>
            <a href="#">
               @Model.MemberType @Model.FirstName @Model.LastName ID:@Model.MemberId
            </a>
            </h4>
        }
        </div>
    <img src="/images/pexels-andrea-piacquadio-3771087.jpg" width="350" alt="person servicing">
</div>
